EnvName: MontezumaRevengeNoFrameskip-v4
MaxStepsPerEpisode: 4500
ImageHeight: 84
ImageWidth: 84
UseStickyAction: True
StickyActionProb: 0.25

NumWorkers: 128
RolloutSteps: 128
NumInitSteps: 2048

ExtRewardDiscount: 0.999
IntRewardDiscount: 0.99
ExtCoeff: 2.0
IntCoeff: 1.0
LearningRate: 0.0001
ClipGradNorm: 0.5
BatchSize: 4096
EpochSteps: 4
SavePath: "/home/chervontsev/checkpoints/RndAgentVTrace.ckpt"

NumEpochs: 10000

RNDUpdateProportion: 0.25
PPOEntropyCoeff: 0.001
PPORewardEps: 0.15
PPOAdvLambda: 0.95
UseVTraceCorrection: True

UseTPU: False
